button {
    margin-top:20px;
    background-color:silver;
    font:black;
    border-radius:5px;
    box-shadow: silver 2px 2px;
}
c-member-bar-chart{
    border-radius:5px;
    box-shadow: silver 5px 5px;
    border: solid 2px lightblue;
}